<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" />
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administración</title>
    
</head>
<body style="background-color: rgb(133, 212, 183);">
<header class="cabezera">
    <nav class="navbar navbar-expand-lg navbar-light cabezera">
        
        <img src="{% static "img/logo.png" %}" alt="Gatito" class="img-fluid">
        
        <ul class="navbar-nav mx-auto list-inline">
            <li class="nav-item active itemnav d-block">
                <a class="nav-link text-white text-center" id="inicio" href="{% url "index" %}">Inicio</a>
            </li>
            <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-white text-center" id="fin" href="#">Quienes somos</a>
            </li>
            <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-white text-center" href="#">Servicios</a>
            </li>
            <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-white text-center" href="#">Contáctanos</a>
            </li>
            <br>
            {% if user.is_staff %}
            <li>
                <a><button id="administrar" style="width: 150px;height: 40px;float: left;" class="btn btn-primary d-block mx-auto">Administrar</button></a>
            </li>
            {% endif %}
            <li class="nav-item active itemnav d-block">
                <a class="nav-link text-black text-right">Bienvenido, {{user.first_name}}</a>
            </li>
            <li>
                <a href="{% url "cerrar_sesion" %}"><button id="cerrarSesion" style="width: 150px;height: 40px;float: left;" class="btn btn-primary d-block mx-auto">Cerrar Sesión</button></a>
            </li>
        </ul>
    </nav>
</header>
<div class="container-fluid">
    <form action="{% url 'registrar_perro' %}" method="POST" id="formularioPerros" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Nombre:</label>
                    <input required class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="raza">Raza predominante:</label>
                    <input required class="form-control" type="text" name="raza" id="raza" placeholder="Raza">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <select class="form-control" id="estado" name="estado">
                        <option value="rescatado">Rescatado</option>
                        <option value="disponible">Disponible</option>
                        <option value="adoptado">Adoptado</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="foto">Foto de su perro:</label>
                    <input required class="form-control-file" type="file" name="foto" id="foto">
                </div>
            </div>
        </div>  

        
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="descripcion">Descripción del perro</label>
                    <textarea class="form-control" required name="descripcion"  rows="2" id="descripcion"></textarea>
                </div>
            </div>
        </div>
            
        <div class="form-group">
            <input id="enviar" name="enviar" type="submit" value="Registrar" class="btn btn-light">
        </div>
        
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Raza</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for p in perros %}
        <tr>
        <th scope="row">{{p.pk}}</th>
        <td>{{p.nombre}}</td>
        <td>{{p.raza}}</td>
        <td>{{p.estado}}</td>
        <td><button class="btn btn-red" id="editar_perro" onclick="editar('{{p.nombre}}','{{p.descripcion}}','{{p.estado}}','{{p.raza}}','{{p.foto}}',{{p.pk}})">Editar</button>
            <a href="administrar/borrar_perro/{{p.id}}"><button class="btn btn-red">Eliminar</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">              
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <img src="" id="fotoPerro" class="imagepreview" style="max-width: 100%; max-height: 100%" >
            <form action="editar_perro" method="post">
                <label for="nombrePerro">Nombre:</label>
                <input required class="form-control" type="text" name="nombrePerro" id="nombrePerro">
                <label for="descripcionPerro">Descripcion:</label>
                <input required class="form-control" type="text" name="descripcionPerro" id="descripcionPerro">

                <input type="hidden" id="id" name="id" value="">

                <label for="estadoPerro">Estado:</label>
                <select class="form-control" id="estadoPerro" name="estadoPerro">
                    <option value="rescatado">Rescatado</option>
                    <option value="disponible">Disponible</option>
                    <option value="adoptado">Adoptado</option>
                </select>

                <label for="razaPerro">Raza predominante:</label>
                <input required class="form-control" type="text" name="razaPerro" id="razaPerro" placeholder="Raza">

                <label for="fotoPerro">Foto de su perro:</label>
                <input class="form-control-file" type="file" name="fotoPerro" id="fotoPerro">

                <input type="submit" value="Editar" class="btn" href="{% url 'editar_perro' %}">
            </form>
        </div>
        </div>
    </div>
</div>

    <script src="{% static "js/jquery-3.3.1 .js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/administrar.js" %}"></script>
</body>
</html>