<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Mis Perris</title>
</head>
<body > 
<header class="cabezera container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light cabezera row">
        <div class="col-lg-6 col-sm-12 col-xm-12">
            <img src="{% static "img/logo.png" %}" alt="Gatito" class="img-fluid">
        </div>
        
        <div class="col-lg-6 text-right  col-sm-12 col-xm-12">
            <ul class="navbar-nav mx-auto list-inline col-sm-12 col-xm-12" > 
                <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-white text-center" id="inicio" href="#">Inicio</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" id="fin" href="#">Quienes somos</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" href="#">Servicios</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" href="#">Contáctanos</a>
                </li>
                <br>
                {% if user.is_authenticated %}
                <li>
                    <p>Bienvenido, {{user.first_name}}</p>
                </li>
                    
                    
                <li class="nav-item active itemnav d-block">
                    {% if user.is_staff %}
                    <a href="{% url "administrar" %}"><button style="width: 150px;height: 40px;" id="administrar" class="btn btn-primary d-block mx-auto">Administrar</button></a>
                    {% endif %}
                    <a href="{% url "cerrar_sesion" %}"><button style="width: 150px;height: 40px;" id="cerrarSesion" class="btn btn-primary d-block mx-auto">Cerrar Sesión</button></a>
                </li>
                {% else %}
                <li class="nav-item active itemnav d-block" id="hola" style="align-content: center;">
                    <button id="registro" class="btn btn-primary d-block mx-auto btn-responsive">Registrarse</button><br><br>
                    <a href="{% url "login_page" %}"><button  id="iniciarSesionBoton" class="btn btn-primary d-block mx-auto">Iniciar Sesión</button></a>
                </li>
                {% endif %}
            </ul>
        </div>
        
    </nav>
</header>

{% if not user.is_authenticated %} <!--Si no existe el usuario-->
<div id="division" class="container-fluid" style="display:none;">
    <form action="{% url 'registrar_usuario' %}" method="POST" id="formulario">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Correo electronico:</label>
                    <input required class="form-control" type="email" name="correo" id="correo" placeholder="Correo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group rutsito">
                    <label for="run">RUN:</label>
                    <input required class="form-control" type="text" name="run" id="run" placeholder="XXXXXXXX-X">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input required class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaNac">Fecha de Nacimiento:</label>
                    <input required class="form-control" type="date" name="fecha" id="fecha" placeholder="dd/mm/yyyy">
                </div>
            </div>
        </div>
        <!---->
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="numero">Teléfono de contacto:</label>
                    <input required class="form-control" placeholder="Ingrese número telefónico" required type="number" name="numero" id="numero"> 
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label for="region">Región:</label>
                    <select class="form-control" id="region">
                        <option >
                            Seleccione Región
                        </option>
                    </select>
                </div>
            </div>
        </div>  

        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="comuna">Ciudad:</label>
                        <select class="form-control" id="comuna">
                                <option>
                                    Seleccione Ciudad
                                </option>
                        </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Tipo de vivienda:</label>
                    <select class="form-control" id="tipoVivienda" name="tipoVivienda">
                        <option hidden>Seleccione...</option>
                        <option value="Casa con patio grande">Casa con patio grande</option>
                        <option value="Casa con patio pequeño">Casa con patio pequeño</option>
                        <option value="Casa sin patio">Casa sin patio</option>
                        <option value="Departamento">Departamento</option>
                    </select>
                </div>
            </div>
        </div>
             
        <div class="form-group">
            <input id="enviar" name="enviar" type="submit" value="Enviar" class="btn btn-light">
        </div>
        
    </form>
</div>
{% endif %}

<!--Carrusel de imagenes (Parte III)-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 altura-minima" src="{% static "img/rescate.jpg" %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 altura-minima" src="{% static "img/adoptados/Duque.jpg" %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 altura-minima" src="{% static "img/adoptados/Apolo.jpg" %}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!--Parte IV-->
    <div style="text-align:center; background-color: rgb(133, 212, 183);">
        <br>
        <span style="float: center" class="dot"><img style="height: 15px;float: center;"             src="{% static "img/icono_facebook.png" %}"></span>
        <span style="float: center" class="dot"><img style="height: 15px;float: center;width: 17px;" src="{% static "img/icono_gmail.png" %}"></span>
        <span style="float: center" class="dot"><img style="height: 15px;float: center;width: 15px;" src="{% static "img/icono_instagram.png" %}"></span>
        <span style="float: center" class="dot"><img style="height: 15px;float: center;width: 15px;" src="{% static "img/icono_mensaje.png" %}"></span>
    </div>
<!---->

<!--Margen horizontal-->
<br>
<!---->

<!-- Descripcion del proyecto MisPerris -->
<div id="crow" class="container-fluid" style="background-color: white;">
    <div class="row">
            <div class="col-md-6">
               <div class="col-md-12 col-sm-12">
                  <h1 id="rescate" style="text-align: right;color: black"><strong>RESCATE</strong></h1>
                  <h5 style="text-align: right;color:#A4A4A4;">ETAPA UNO</h5>
                  <div style="float: right; width:auto;">
                        <hr id="linea-izquierda" class="blue-line float-md-right float-sm-right float-xs-right">
                  </div>
                  <br><br>
                  <p style="text-align: right;color: #A4A4A4;font-size: 20px">perros en situación de peligro y/o abandono. Los rehabilitamos y los<br>
                    preparamos para buscarles un hogar</p>
                    <br>
                    <img id="perro1" class="float-md-right float-sm-right float-xs-right" src="{% static "img/rescate.jpg" %}">
               </div>
               
            </div>

            <div class="col-md-6">
               <div class="col-md-12 col-sm-12">
                  <img style="max-height: 300px; max-width: 100%" src="{% static "img/crowfunding.jpg" %}"> <br> 
                  <h1 id="crowfunding" style="color: black"><strong>CROWDFUNDING</strong><br>
                    <small class="font-weight-bold" style="font-size: 22px;color: #A4A4A4">FINANCIAMIENTO</small>
                </h1>

                <div style="float: left; width:auto;">
                    <hr name="linea-derecha" class="float-lg-left float-md-left float-sm-left float-xs-left">
                </div>
                <br><br>
                <p style="text-align: bottom;color: #A4A4A4;font-size: 20px">
                    Sigue nuestras redes sociales para informarte acerca de las diversas campañas y <br>
                    actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
                    <button type="button" style="background-color: white;min-width: 130px;max-width: 250px;height: 40px;"
                    class="btn-primary outline"><strong>CAMPAÑAS</strong></button>
                    <br><br>
               </div>
            </div>
    </div>
</div>
<!-- Mosaicos al final -->
<footer>
    <div class="container-fluid fondo-verde " id="container">
        <br>
        <div class="cols aparecer anyClass">
            {% for p in perros %}
            <a href="#" class="aparecer">
                <img data-nombre="{{p.nombre}}" data-desc="{{p.descripcion}}" src={{p.foto.url}} alt={{p.nombre}}>
            </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">              
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="max-width: 100%; max-height: 100%" >
                <h1 id="nombrePerro">
    
                </h1>
                <p id="texto-bajo"></p>
            </div>
            </div>
        </div>
    </div>
</footer>

    <script src="{% static "js/jquery-3.3.1 .js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery-validate.bootstrap-tooltip.js" %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
<!--Comentarios 
<strong class="text-white">&nbsp &nbsp +&nbsp56998765431</strong>:Corresponde a un texto de boostrap que me 
permite ponerle negrita a un texto
-->